.containerOverlay {
    position: absolute;
    top: 100%;
    left: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: #e1e1e1;
    padding: 10px;
    box-shadow: 5px 5px 5px 2px;
    z-index: 1000;
}

.containerInline {
    position: static;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background: #e1e1e1;
    padding: 10px;
    box-shadow: 5px 5px 5px 2px;
    margin-top: 10px;
}

.containerOverlay ul,
.containerInline ul {
    list-style-type: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

@media (max-width: 768px){
    .containerOverlay {
        width: 90%;
        height: 150px;
    }
}