.container {
    position: absolute;
    top: 60px;
    left: 20px;
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background: #e1e1e1;
    padding: 10px;
    box-shadow: 5px 5px 5px 2px;
}

.container ul {
    list-style-type: none;
    font-weight: bold;
}