.basicInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.itemImage {
    border: 1px solid;
    border-radius: 10px;
    border-color: hsl(0,0%,80%);
    box-shadow: 5px 5px 5px hsl(0,0%,0%,0.1);
}

.basicInfo ul {
    list-style: none;
}

.stickInfo{
    top: 20px;
    position: sticky;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 400px;
}

.button {
    border: 1px solid;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    background-color: #e1e1e1;
    font-size: 15px;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: black;
    border: 1px solid  #e1e1e1;
    color: #e1e1e1;
}

.moreItems {
    margin: 30px;
    display: flex;
    flex-direction: column;
}