.landingGIF {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background: #e1e1e1;
}

.landingGIF img {
  border-style: solid;
  border-color: black;
  width: 70%;
  height: 70%;
  object-fit: cover; /* fills screen without stretching */
}
