.removeButton {
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    padding: 8px;
    background-color: #e1e1e1;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: var(--font-courier-prime);
}

.addButton {
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    width: 100%;
    height: 50px;
    background-color: #e1e1e1;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: var(--font-courier-prime);
}

.checkoutButton {
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    width: 50%;
    height: 50px;
    background-color: #e1e1e1;
    font-size: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: var(--font-courier-prime);

}

button:hover {
    background-color: black;
    border: 1px solid  #e1e1e1;
    color: #e1e1e1;
}
