.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container h1{
    font-family: var(--font-space-grotesk);
}

.container p, .container h3{
    font-family: var(--font-dm-sans);
}

.container span {
    font-weight: 800;
}

.cartContainer {
    padding: 10px;
    margin: 0 auto;
}

.confirmInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.orderSummary {
    background: white;
    border: 1px solid;
    border-radius: 10px;
    border-color: hsl(0,0%,80%);
    box-shadow: 5px 5px 5px hsl(0,0%,0%,0.1);
    border-color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-bottom: 10px;
}

.orderSummary h2 {
    margin: 8px;
    padding: 5px;
}

.orderSummary ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.item{
    margin-bottom: 8px;
    padding: 8px;
    border-top: 1px solid gray;
}

.cartItem {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.itemPhoto {
    height: 150px;
    width: 100%;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.itemDetail {
    display: flex;
    flex-direction: column;
}

.price {
    display: flex;
    justify-content: flex-end;
}

.totalContainer {
    display: flex;
    width: 100%;
    padding: 10px;
}

.totalContainer ul {
    display: flex;
    width: 100%;
    padding: 8px;
    border-top: 1px solid grey;
}

.totalContainer li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.deliveryDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 5px;
    padding: 5px;
}

.bottomMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    gap: 8px;
    margin-top: 8px;
}

@media (max-width: 768px){
    .confirmInfo p {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .orderSummary {
        width: 80%;
        margin-bottom: 5px;
    }

    .deliveryDetails {
        gap: 5px;
    }

    .bottomMessage {
        width: 70%;
        height: auto;
        text-align: center;
    }
}