.card {
    border: 1px solid;
    border-color: hsl(0,0%,80%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0,0%,0%,0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
    height: 340px;
    max-width: 300px;
    display: inline-block;
}

.itemImage {
    border-radius: 10px;
}

.cardInfo{
    margin: 10px;
}

.cardInfo h3{
    color: black;
}

.cardInfo p{
    color: black;
}