.landingPage {
  background: #e1e1e1;
}

.landingGIF {
  display: flex;
  justify-content: center;
  padding: 30px;
  width: 95%;
  margin: 0 auto;
}

.gifLink{
  width: 100%;
  max-width: 1000px;
}

.landingGIF img {
  border-style: solid;
  border-color: black;
  width: 100%;
  object-fit: cover; /* fills screen without stretching */
}

.newArrivals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newArrivals h1{
  color: black;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}

.gap {
  gap: 40px;
}


