.landingPage {
  background: #e1e1e1;
}

.landingGIF {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.landingGIF img {
  border-style: solid;
  border-color: black;
  width: 70%;
  height: 70%;
  object-fit: cover; /* fills screen without stretching */
}

.newArrivals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newArrivals h1{
  color: black;
}

.items {
  display: flex;
  list-style-type: none;
  align-items: stretch;
  gap: 10px;
}

.gap {
  gap: 40px;
}


