.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1e1e1;
    gap: 450px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
}

.navbar li {
    color: black;
}