.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: black;
    background: #e1e1e1;
}

.navbar ul {
    list-style-type: none;
    align-items: stretch;
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-weight: 900;
    padding: 10px;
}

.navbar li {
    color: black;
}