.spaceBetween {
    margin-bottom: 40px;
}

.basicInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.images {
    width: 100%;
    max-width: 500px;
}

.itemImage {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.basicInfo ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
}

.itemInfo h2, .itemInfo h3 {
    font-family: var(--font-space-grotesk);
}

.moreItems {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.moreItems h1{
    margin-left: 20px;
    margin-bottom: 10px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
  width: 100%;
  justify-items: stretch;
}

.details {
    font-family: var(--font-dm-sans);
}

.items > a {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
    .basicInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .itemInfo {
        margin: 20px;
    }

    .moreItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .items {
        display: grid
        margin-left: 20px;
        gap: 5px;
        justify-items: stretch;
    }
}