.basicInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.itemImage {
    border: 1px solid;
    border-radius: 10px;
    border-color: hsl(0,0%,80%);
    box-shadow: 5px 5px 5px hsl(0,0%,0%,0.1);
}

.basicInfo ul {
    list-style: none;
}

.stickInfo{
    top: 20px;
    position: sticky;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 500px;
}

.moreItems {
    margin: 30px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .basicInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .itemInfo {
        margin: 20px;
    }
}